
.Frangment{
     /* display: inline-block; */
    font-family: "Times New Roman";
}

.Caption1 {  font-size:28px;
          font-weight: bolder;
          color:red;
          margin:10px;
        }

.Table { border-collapse:collapse}

.Table th {border :1px solid #cccccc;
          font-size: 22px; 
          padding:8px; 
          background-color:rgb(87, 184, 223);
          color:white;
        }

.Table, td {
    padding:8px;
    text-align:center;
    font-size: 24px;
    border :1px solid #cccccc;
    border-spacing: 5px;
    margin-left:auto;
    margin-right:auto;

}


.Table tr:nth-child(odd) td {
     background-color: LIGHTBLUE;
    }
 
@media print {
   .Frangment{
        /* display: inline-block; */
        /* margin:-100px auto; */
        margin: auto auto;
   }

    .Caption1 {  
        font-size:14px;
        font-weight: bolder;
        color:black;
        margin:10px;
      }

    .Table th {
        border :1px solid black ;
        font-size: 14px; 
        padding:6px;
        color:black;
        background-color:white; 
    }

    .Table, .Table td { 
        font-size: 12px;
        padding:6px;
        border :1px solid;
        color:black;
        } 

.Table3 tr:nth-child(even) {background-color:white;}
}
.Riquadro1{
    font-size: 24px;
    margin:50px 0;
    background-color: LIGHTBLUE;
    border:1px solid black;
    display: inline-block;
    padding:10px;
}




